:root, [data-theme="dark"] {
  color-scheme: dark;
  --gray-950: 10 10 10;
  --gray-900: 26 26 26;
  --gray-800: 30 30 30;
  --gray-700: 45 45 45;
  --gray-600: 68 68 68;
  --gray-500: 107 114 128;
  --gray-400: 160 160 160;
  --gray-300: 209 213 219;
  --gray-200: 229 231 235;
  --gray-100: 243 244 246;
  --gray-50: 249 250 251;
  --blue-500: 59 130 246;
  --accent: 59 130 246;
}

[data-theme="light"] {
  color-scheme: light;
  --gray-950: 255 255 255;
  --gray-900: 243 244 246;
  --gray-800: 229 231 235;
  --gray-700: 209 213 219;
  --gray-600: 156 163 175;
  --gray-500: 107 114 128;
  --gray-400: 75 85 99;
  --gray-300: 55 65 81;
  --gray-200: 31 41 55;
  --gray-100: 17 24 39;
  --gray-50: 3 7 18;
  --blue-500: 37 99 235;
  --accent: 37 99 235;
}

